@media screen and (max-width: 70.3rem) {
  header {
    width: 90%;
  }
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 50rem) {
  header {
    width: 95%;
  }
  .container {
    width: 95%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    padding: 1rem;
    padding-bottom: 5rem;
  }
  .project {
    width: 45%;
    flex-direction: column;
    margin-bottom: 0;
    margin-top: 0.8rem;
  }
  .image-project {
    width: 100%;
    margin-bottom: 1rem;
  }
  .options-project {
    display: block;
  }
  .content-project {
    width: 100%;
    padding: 0;
  }
  .sub-project {
    margin-bottom: 0.6rem;
  }
  .container-skills {
    width: 100%;
  }
  .about-box {
    margin-bottom: 1rem;
    width: 100%;
  }
  .education {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 42.5rem) {
  .profile {
    width: 6rem;
    height: 6rem;
  }
  .presentation {
    width: calc(100% - 6rem);
  }
  .container {
    width: 95%;
    display: block;
    padding: 1rem;
    padding-bottom: 5rem;
  }
  .project {
    width: 100%;
    margin-bottom: 2.2rem;
  }
  .image-project {
    width: 100%;
    height: 22rem;
  }
  .image-box {
    width: 28rem;
  }
}
@media screen and (max-width: 34.4rem) {
  .container {
    width: 95%;
    padding: 0.5rem;
    padding-bottom: 5rem;
  }
  .container-info {
    flex-direction: column;
  }
  .profile {
    margin: 1rem;
    width: 8rem;
    height: 8rem;
  }
  .presentation {
    width: 90%;
  }
  .project {
    align-items: center;
  }
  .content-project {
    width: 95%;
    padding: 0;
  }
  .image-box {
    width: 21rem;
  }
}
